[Unit]
Dscription=Run Picontroller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/picontroller/serve_tui
WorkingDirectory=/home/pi/picontroller
User=pi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

