[Unit]
Description=Run Picontroller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=${PICONTROLLER_PROJECT_PATH}/scripts/serve_tui
WorkingDirectory=${PICONTROLLER_PROJECT_PATH}
User=${PICONTROLLER_HUB_USER}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

