[Unit]
Description=Run Picontroller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/${PICONTROLLER_HUB_USER}/picontroller/scripts/serve_tui
WorkingDirectory=/home/${PICONTROLLER_HUB_USER}/picontroller
User=${PICONTROLLER_HUB_USER}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

